@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  --color-corporate-dark: #121518;
  --color-corporate-yellow: #f9a826;
  --color-corporate-yellow-hover: #e08f0e;
  --color-corporate-gray: #f7fafc;
}

@layer base {
  body {
    background-color: #ffffff;
    color: #121518;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}